<div class="container">
    <div style=" margin-top: 15vh;">
        <h2 style="text-align: center;">Add Details</h2>
        <form class="custom-form" (ngSubmit)="submit(f)" #f='ngForm'>
            <div class="row">
                <div class="form-group col-9">
                    <label for="name">Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"
                        [(ngModel)]="name" required>
                </div>
                <div class="form-group col-3">
                    <label for="amount">Amount<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="amount" placeholder="Amount" name="amount"
                        [(ngModel)]="amount" required>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="address" placeholder="Address" name="address"
                    [(ngModel)]="address" required>
            </div>
            <div class="row">
                <div class="form-group col-9">
                    <label for="pageNo">Mobile No</label>
                    <input type="number" class="form-control" id="Mobile No" placeholder="Mobile No" name="mobileNo"
                        [(ngModel)]="mobile">
                </div>
                <div class="form-group col-3">
                    <label for="pageNo">PageNo<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="pageNo" placeholder="Page No" name="pageNo"
                        [(ngModel)]="pgNo" required>
                </div>
            </div>

            <!-- <button type="submit" class="btn btn-primary" >Submit</button> -->
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </form>
        <h3 *ngIf="message"><span class="text-success">Transaction Added Sucessfully</span></h3>
        <a *ngIf="message" routerLink="/" style="cursor: pointer;">Click to go back</a>
    </div>
    <p *ngIf="!message"><span class="text-danger">*</span>Required</p>
</div>